@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Levi9Library.Models.ViewModels
@model MainViewModel
@{
	ViewBag.Title = "Home Page";
}

<br />
<br />

<h3 style="float: right;">Your score: @Model.UserScore</h3>

<br />
<br />

@Html.RenderAction("AvailableBooks")