html, body {
	height: 100%;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}


/* 
***** Custom CSS *****
*/

.score-display {
	float: right;
	padding: 10px;
}
/* Navigation */
.navbar-inverse, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background: #1434A0;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

/* Footer */
#wrap {
	padding-left: 15px;
	padding-right: 15px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -50px;
}

#push,
#footer {
	height: 50px;
}

footer p {
	text-align: center;
}